<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Lista de Empleados</title>
</head>
    <body>
        <div class="container">
        <h1>Empleados por Departamento</h1>
            <a class="btn btn-primary" th:href="@{'/'}">Regresar</a>
            <table class="table">  <!-- COMPLETAR -->
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Cargo</th>
                        <th>Sueldo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="employee : ${listaEmpDepart}">
                        <td th:text="${employee.getEmployeeid()}"></td>
                        <td th:text="${employee.getNombre()}"></td>
                        <td th:text="${employee.getApellido()}"></td>
                        <td th:text="${employee.getCargo()}"></td>
                        <td th:text="${employee.getSueldo()}"></td>
                        <td><a class="btn btn-primary" th:href="@{'/employee/editar' + '?id=' + ${employee.getEmployeeid()}}">Editar</a>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>